<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h3 >Your File has been uploaded successfully.</h3>
    <h5>Click the <B>PREDICT</B> button to classifiy the .edf file and view the Hypnogram</h5>

        <form method="POST" action="/main">
            <input type="submit" value="PREDICT" name="Predict" style="padding:0px 10px 0px 10px ;border-radius: 30px;"/>
        </form>
    <h5><b>NOTE:</b> The Process might take several minutes. Do not go Back or hit Refresh(f5) until the page is loaded  </h5>
</body>
</html>



